<h2 class="page-header text-center">{{ contact.isNew ? 'Create' : 'Edit' }} Contact</h2>
<form role="form" class="form-horizontal contact-form">
    <div class="form-group">
        <label class="col-sm-4 control-label">Title:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control contact-title-input" ng-model="contact.title">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">First name:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control contact-firstName-input" ng-model="contact.firstName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Last name:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control contact-lastName-input" ng-model="contact.lastName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Gender:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control contact-gender-input" ng-model="contact.gender">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Email address:</label>
        <div class="col-sm-6">
            <input type="email" class="form-control contact-email-input" ng-model="contact.email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Telephone number:</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control contact-phone-input" ng-model=" contact.phone ">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Cell number:</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control contact-cell-input" ng-model="contact.cell">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">State:</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control contact-state-input" ng-model="contact.state">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">City:</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control contact-city-input" ng-model="contact.city">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Street:</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control contact-street-input" ng-model="contact.street">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Zip:</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control contact-zip-input" ng-model="contact.zip">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">SSN:</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control contact-ssn-input" ng-model="contact.SSN">
        </div>
    </div>
    <div class="form-group">
        <!--<div class="col-sm-offset-4 col-sm-3">-->
            <!--<button class="btn btn-outline btn-lg btn-block" href="index.html#/">Submit</button>-->
        <!--</div>-->
        <div class="col-sm-offset-4 col-sm-3">
            <a class="btn btn-outline btn-lg btn-block" href="index.html#/">Submit</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-outline btn-lg btn-block form-cancel-btn" href="index.html#/">Cancel</a>
        </div>
    </div>
</form>