<header class="navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#signup">Signup</a></li>
                <li><a href="#login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<header class="bs-header">
    <div class="container">
        <h1>Contact Manager</h1>
        <p>Simple Angular.js example application</p>
    </div>
</header>


<div class="container" ng-app="contactList">
    <div ng-controller="contactListCtrl">
        <contacts-list></contacts-list>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-xs-12 main-container">-->
            <!--<div id="floatingCirclesG" class="center-block">-->
                <!--<div class="f_circleG" id="frotateG_01">-->
                <!--</div>-->
                <!--<div class="f_circleG" id="frotateG_02">-->
                <!--</div>-->
                <!--<div class="f_circleG" id="frotateG_03">-->
                <!--</div>-->
                <!--<div class="f_circleG" id="frotateG_04">-->
                <!--</div>-->
                <!--<div class="f_circleG" id="frotateG_05">-->
                <!--</div>-->
                <!--<div class="f_circleG" id="frotateG_06">-->
                <!--</div>-->
                <!--<div class="f_circleG" id="frotateG_07">-->
                <!--</div>-->
                <!--<div class="f_circleG" id="frotateG_08">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>